body {
  text-align: left;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  font-family: 'Lato', sans-serif;
  background-color: white;
  background-image: url("images/cloud-computing.svg"),
                    url("images/cloud-computing.svg"),
                    url("images/Flat-Mountains.svg");
  background-size: 170px, 300px, cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:right 300px top 290px,
                      left 200px top 300px,
                      center;
}


hr {
  border-style: dotted;
  border-width: 10px;
  border-top: none;
  width: 8%;
  margin-bottom: 120px;
  opacity: 40%;
  color: #BA0382;
}

.card-title {
  color: #48cae4;
      font-family: 'Pacifico', cursive;
  font-size: 2em;
  margin-top: 0;
}


p {
  font-size: 18px;
  color: grey;
}


.credits {
  text-align: center;
}

.main-content {
  padding: 150px 80px 100px 80px;
}

.cloud {
  margin-top: 200px;
  margin-left: 150px;
  position: fixed;
  width: 20%;
  z-index: 2;
}

.header {
  color: white;
  width: 100%;
  position: fixed;
  z-index: 1;
  padding: 20px 80px 30px 80px;
  background-color: #48cae4;
  box-sizing: border-box;
}

.title {
  font-family: 'Monoton', cursive;
  font-weight: 200;
  font-size: 5rem;
  margin: 0;
  width: 100%;
  color: transparent;
  background-clip: text;
  background-size: 100%;
  background-image: linear-gradient(to bottom right,#fc55d2,#ffbe0b);
  background-image: -webkit-linear-gradient(to bottom right,#fc55d2,#ffbe0b);
  background-color: #fc55d2;


}

.pod {
  color: white;
      font-family: 'Pacifico', cursive;
      font-size: 80px;
}

.mic {
  position: absolute;
  float: right;
  width: 90px;
  top: 35px;
  left: 760px;
  transform: rotateY(180deg);
}

.intro {
  text-align: center;
  margin: 150px auto 120px auto;
  font-size: 20px;
  width: 40%;
  line-height: 2;
}


/*audio cards*/

.cards{
  display: grid;
  grid-template-columns: repeat(3,auto);
  column-gap: 3%;

}


.item1, .item2, .item3 {
background: rgba(255, 255, 255, 0.8);
border-radius: 10px;
padding: 40px;
min-width: 0;

}

.caption {
  margin-bottom: 40px;
  line-height: 1.5;
  width: 500px;
}

.audio-file {
  width: 100%;
}

.myButton {
  display: block;
  text-align: center;
	background-color:#ff5bb0;
	border-radius:6px;
  margin: auto;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
	font-weight:bold;
	padding:13px 56px;
	text-decoration:none;
  width: 50%;
}
.myButton:hover {

	background-color:#ef027d;
}
.myButton:active {
	position:relative;
	top:1px;
}


/*footer*/

.credits {
  color: white;
  opacity: 70%;
  font-size: 16px;
}

/*tablet*/

@media only screen and (max-width:1700px) {


hr {
  margin-bottom: 5%;
}

.header {
  margin: auto;
  position: inherit;
  padding: 40px;
  background-color: transparent;
  text-align: left;
  max-width: 100%;
}

.main-content {
  width: 90%;
  margin: auto;
box-sizing: border-box;
padding: 100px 40px;
}

  .pod {
    color: #48cae4;
  }

.title {
    font-size: 4rem;
    color: #fc55d2;
    max-width: 100%;
    background-image: none;
    background: none;
    overflow: hidden;
    margin: auto;
    text-align: center;
  }

  .mic {
    display: none;
  }

  .intro {
    width: 80%;
    text-align: center;
    font-size: 18px;
    margin: 5% auto 10% auto;
  }


  .cards {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    min-width:0;
  }

.item1, .item2, .item3 {
  margin-top: 10%;
}
.item1 {
  overflow: hidden;
}

.item2 {
  overflow: hidden;
}

.item3 {
  overflow: hidden;
}

  .caption {
    width: 100%;
    font-size: 14px;
  }

.audio-file {
  height: 100%;
}

/*mobile phone*/

@media only screen and (max-width:760px) {

.title {
  font-size: 3rem;
  text-align: center;
  max-width: 100%;
    color: #fc55d2;
    background-image: none;
}


.pod {
  font-size: 3rem;
}

body {
  background-image: none;
display: flex;
flex-direction: column;
align-content: space-around;

}

.main-content {
  display: flex;
  flex-direction: column;
  margin: auto;
width: 100%;
padding-top: 20px;
}

.cards {
  align-content: space-evenly;
}


.item1, .item2, .item3 {
  margin: 10% auto;
  border-style: solid;
  border-color:  #fc55d2;

}

.caption {
  margin: 0 auto 10% auto;
width: 100%;

}
.caption p {
  font-size: 1.5rem;
}

.audio-file {
  height: 102px;
}

hr {
  margin-bottom: 5% auto 5 auto%;
}

.intro {
  margin: 10% auto 10% auto;
  width: 100%;
  font-size: 1.5rem;
}

.credits {
  color: grey;
}

}

