body {
  text-align: left;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: white;
  background-image: url("images/cloud-computing.svg"),
                    url("images/cloud-computing.svg"),
                    url("images/Flat-Mountains.svg");
  background-size: 170px, 300px, cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:right 300px top 290px,
                      left 200px top 300px,
                      center;

}


hr {
  border-style: dotted;
  border-width: 10px;
  border-top: none;
  width: 8%;
  margin-bottom: 120px;
  opacity: 40%;
  color: #BA0382;
}

h3 {
  color: #48cae4;
      font-family: 'Pacifico', cursive;
  font-size: 2em;
}


p {
  font-size: 18px;
  color: grey;
}

figure {
  margin: 0;
}

.credits {
  text-align: center;
}

.content {
  padding: 150px 80px 100px 80px;
}

.cloud {
  margin-top: 200px;
  margin-left: 150px;
  position: fixed;
  width: 20%;
  z-index: 2;
}

.header {
  color: white;
  width: 100%;
  position: fixed;
  z-index: 1;
  padding: 20px 80px 30px 80px;
  background-color: #48cae4;

}


.title {
  font-family: 'Monoton', cursive;
  font-weight: 200;
  font-size: 5rem;
  margin: 0;
  width: 100%;
  color: transparent;
  background-clip: text;
  background-size: 100%;
  background-image: linear-gradient(to bottom right,#fc55d2,#ffbe0b);

}

.pod {
  color: white;
      font-family: 'Pacifico', cursive;
      font-size: 80px;
}

.mic {
  position: absolute;
  float: right;
  width: 90px;
  top: 35px;
  left: 760px;
  transform: rotateY(180deg);
}

.intro {
  text-align: center;
  margin: 150px auto 120px auto;
  font-size: 20px;
  width: 40%;
  line-height: 2;
}


/*grid-content*/

.audio-files{
  display: flex;
  flex-direction: row;
  height: 60%;
}



.item1, .item2 {
background: rgba(255, 255, 255, 0.8);
border-radius: 10px;
flex-wrap: wrap;
align-items: flex-start;
justify-content:space-between;
padding: 0 40px;
margin: 0 5%;

}

.caption {
  margin-bottom: 40px;
  line-height: 1.5;
  width: 500px;
}

.audio-element {
  display: block;
  width: 100%;
  border-radius: 5px;
  background: #48cae4;
}

.myButton {
  display: block;
  text-align: center;
	background-color:#ff5bb0;
	border-radius:6px;
  margin: auto;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
	font-weight:bold;
	padding:13px 56px;
	text-decoration:none;
  width: 50%;
}
.myButton:hover {

	background-color:#ef027d;
}
.myButton:active {
	position:relative;
	top:1px;
}


/*footer*/



.credits {
  color: white;
  opacity: 70%;
  font-size: 16px;
}

/*tablet*/

@media only screen and (max-width:1480px) {

body {
  overflow-x: hidden;
}

.content {
  padding: 20px;
}

  .intro {
    width: 80%;
    text-align: left;
    font-size: 18px;
    margin: 5% auto 10% auto;
  }

  .header {
    margin: auto;
    position: inherit;
    padding: 40px;
    background-color: transparent;
    text-align: left;
    max-width: 100%;
    margin-left: 10%;
  }

  .pod {
    color: #48cae4;
  }

.title {
    font-size: 4rem;
    color: #fc55d2;
    background-clip: none;
    width: 100%;
    background-image: none;
    background-clip: none;
	background-color: none;
  }

  .mic {
    display: none;
  }

  .intro {
    margin-left: 10%;
    margin-right: 10%;
  }

hr {
  margin-bottom: 5%;
}

  .audio-files {
    margin: auto;
    display: flex;
    flex-direction: column;
  }

.item1, .item2 {
  margin-top: 10%;
}

  .caption {
    width: 100%;
    font-size: 14px;
  }



/*mobile phone*/

@media only screen and (max-width:1080px) {

.title {
  font-size: 2rem;
  text-align: left;
  max-width: 100%;
    color: #fc55d2;
    background-image: none;
    background-clip: none;
	background-color: none;
}
	
.header {
	background-color: none;
	
.pod {
  font-size: 50px;
}

body {
  background-image: none;
overflow-x: hidden;
display: flex;
flex-direction: column;
align-content: space-around;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0;

}
.audio-files {
  align-content: space-evenly;
  padding: 5%;
}

.item1, .item2 {
  margin: 10% auto;
  border-style: solid;
  border-color:  #fc55d2;
}

.caption {
  margin: 0 auto 10% auto;
width: 100%;
}

hr {
  margin-bottom: 5% auto 5 auto%;
}

.intro {
  margin: 10% auto 10% auto;
}



.credits {
  color: grey;
}

}
